﻿@{
    ViewData["Title"] = "Index";
}
@using UserIDays.Models.View
@model UserDetailsViewModel

<div class="container is-fluid">
    <div class="header is-size-1">Register</div>
    <form id="frmRegister" asp-action="Index" asp-controller="Register">
        <div class="field">
            <label class="label">Email</label>
            <div class="control has-icons-left has-icons-right">
                <input class="input is-primary" type="email" placeholder="Email" asp-for="Email">
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
                @if (ViewData.ModelState.ContainsKey("EmailError"))
                {
                    <span class="icon is-small is-right">
                        <i class="fas fa-exclamation-triangle"></i>
                    </span>

                    <p class="help is-danger">This email is invalid</p>
                }
            </div>
        </div>

        <div class="field">
            <label class="label">Password</label>
            <div class="control has-icons-left has-icons-right">
                <input class="input is-primary" type="password" placeholder="Password" asp-for="Password">
                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
                <p class="help">Min 10, Max 128 and No < > characters</p>
                @if (ViewData.ModelState.ContainsKey("PasswordError"))
                {
                    <span class="icon is-small is-right">
                        <i class="fas fa-exclamation-triangle"></i>
                    </span>

                    <p id="txtInvalidPassword" class="help is-danger">This password is invalid</p>
                }
            </div>
        </div>
        <input id="btnRegister" class="button is-link is-focused" type="submit" value="Register">
    </form>
</div>